@media (min-width: 768px){
    .gx-logo-size{
        max-height: 3.5rem!important;
    }
}

@media (max-width: 767px){
    .gx-logo-size{
        max-height: 3rem!important;
    }
}

.gx-justify-content-center{
    justify-content: center!important;
}

.w-100 {
    width: 100% !important;
}

.ant-menu-submenu-inline > .ant-menu.ant-menu-sub.ant-menu-inline > .gx-wrap-sidebar{
    white-space: pre-wrap!important;
    padding-bottom: 80px!important;
}